<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/registries">Registries</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/registries">New Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/enrollments/new">New Enrollment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/participants/new">New Participant</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
  </div>
</nav>

<h4>All Coordinators</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <% @coordinators.each do |coordinator|%>
        <tr>
            <td><%=coordinator.email%></td>
            <td><a href="/coordinators/<%=coordinator.id%>"><%=coordinator.name%></a></td>
            <td><%=coordinator.phone_number%></td>
        </tr>
        <% end %>
    </tbody>
</table>
